/* CSS 작성 */

/* 컨테이너 중앙 정렬 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 헤더 스타일 */
.header {
  padding: 20px 0;
  margin-top: 100px;
  margin-bottom: 48px;
}

.logo {
  margin: 0;
  padding: 10px;
}

.logo img {
  max-height: 40px;
}

/* 오늘의 발견 헤드라인 스타일 */
.today-discovery-headline {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.today-discovery-headline h2 {
  margin: 0;
}

.subtitle {
  margin: 0;
  color: var(--color-gray-500);
}

.card-link {
  list-style: none;
  padding-left: 0;
}

.card-link-item {
  float: left;
  padding: 10px;
}

.card-link-item.big {
  width: 50%;
}

.card-link-item.small {
  width: 25%;
}

/* 카드 콘텐츠 스타일 */
.card-content {
  display: flex;
  border: 1px solid var(--color-gray-500);
  position: relative;
  justify-content: center;
  align-items: center;
  height: 310px;
  text-decoration: none;
  transition: border-color 0.3s ease-in; 
}

.card-content:hover,
.card-content:focus-within {
  border-color: var(--color-blue-500); 
}

.purchase-icon-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black-opacity-20);
  border: none;
  transition: background-color 0.3s ease; 
}

.card-content:hover .purchase-icon-container::before,
.card-content:focus-within .purchase-icon-container::before {
  content: "구매하기"; 
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 20px;
}

.card-content:hover .purchase-icon-container,
.card-content:focus-within .purchase-icon-container {
  background-color: var(--color-blue-500); 
}
