/* CSS 작성 */

/* 컨테이너 중앙 정렬 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 헤더 스타일 */
.header {
  padding: 20px 0;
  margin-top: 100px;
  margin-bottom: 48px;
}

.logo {
  margin: 0;
  padding: 10px;
}

.logo img {
  max-height: 40px;
}

/* 오늘의 발견 헤드라인 스타일 */
.today-discovery-headline {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

.today-discovery-headline h2 {
  margin: 0;
}

.subtitle {
  margin: 0;
  color: var(--color-gray-500);
}

.card-link {
  list-style: none;
  padding-left: 0;
}

.card-link-item {
  float: left;
  padding: 10px;
}

.card-link-item.big {
  width: 50%;
}

.card-link-item.small {
  width: 25%;
}


.card-content {
  border: 1px solid var(--color-gray-500);
  position: relative;
  height: 310px;
  transition: border-color 0.3s ease;
}

.card-content:hover,
.card-content:focus {
  border: 1px solid var(--color-blue-500);
}

.product-card-image {
  padding-top: 10px;
}

.arrow-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black-opacity-20);
  transition: background-color, color, transform 0.3s ease;
}

.arrow-button:hover,
.arrow-button:focus {
  background-color: var(--color-blue-500);
  color: var(--color-white);
}

.arrow-icon {
  width: 40px;
  height: 40px;
}

.arrow-button:hover::before,
.arrow-button:focus::before {
  content: "구매하기";
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}

